<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664966752885-55uae6a9lvpnubmb3k1nlmu9dt253s74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664966752885-55uae6a9lvpnubmb3k1nlmu9dt253s74</string>
	<key>API_KEY</key>
	<string>AIzaSyAT-ZIaiktV7Fd_Xl0b7qZVzSX3U6uek1k</string>
	<key>GCM_SENDER_ID</key>
	<string>664966752885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dmi2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>docread-86b08</string>
	<key>STORAGE_BUCKET</key>
	<string>docread-86b08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664966752885:ios:d3c501beecf2e59605e63c</string>
</dict>
</plist>